.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.indicator {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  border-radius: 16px;

  cursor: pointer;
  transition: background-color 0.5s;
  background-color: var(--color-text-secondary);
}

.indicator-selected {
  background-color: var(--color-primary);
}

.indicator:hover {
  background-color: var(--color-primary);
}