{{ define "login-form" }}
<form id="auth-form" class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Your token:</h2>

    <div class="mb-6">
        <input id="auth-token-input-value" type="password" placeholder="Enter your token..."
            class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />
        <button id="auth-token-save-button"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" hx-post="/api/login"
            hx-target="body" hx-swap="innerHTML" hx-ext="json-enc"
            hx-vals='js:{"token": document.getElementById("auth-token-input-value").value}'>
            Login
        </button>
    </div>
</form>
{{end}}

{{ define "logout-form" }}
<form id=" logout-form" class="container flex flex-row justify-between mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Troskove</h1>
    <button id="logout-button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        hx-get="/api/logout" hx-target="body" hx-swap="innerHTML">Logout</button>
</form>
{{end}}