{{ define "expenses" }}
<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Expenses:</h2>
    {{ template "new-expense-form" . }}
    {{ template "expenses-filter" . }}
    {{ template "expenses-list" . }}
</div>
{{end}}

{{ define "new-expense-form" }}
{{ $ExpenseTypes := .ExpenseTypes }}
<h2 class="text-xl font-bold mb-4">Add:</h2>
<form class="mb-6">
    <select id="new-expense-type"
        class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500">
        {{ range $ExpenseTypes }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}
    </select>
    <input id="new-expense-value" placeholder="Value" type="number"
        class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />
    <input id="new-expense-date" type="date"
        class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />
    <button hx-post="/api/expense" hx-swap="innerHTML" hx-target="body" hx-ext="json-enc"
        hx-vals='js:{"TypeID": document.getElementById("new-expense-type").value, "Value": Number(document.getElementById("new-expense-value").value), "Date": document.getElementById("new-expense-date").value}'
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add</button>
</form>
{{end}}

{{ define "expenses-filter" }}
{{ $ExpensesFilter := .ExpensesFilter }}
{{ $ExpenseTypes := .ExpenseTypes }}
<h2 class="text-xl font-bold mb-4">Filters:</h2>
<form class="mb-8 space-y-4">
    <div class="flex flex-col md:flex-row md:items-center gap-4">
        <label for="filter-type" class="block text-sm font-medium text-gray-700">Type:</label>
        <select id="filter-type"
            class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500">
            <option value="">All</option>
            {{ range $ExpenseTypes }}
            <option value="{{ .ID }}" {{ if eq .ID $ExpensesFilter.TypeId }}selected{{ end }}>{{ .Name }}
            </option>
            {{ end }}
        </select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="filter-start-date" class="block text-sm font-medium text-gray-700">Start date:</label>
            <input type="date" id="filter-start-date" value="{{ $ExpensesFilter.StartDate }}"
                class="border-2 w-full border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />

        </div>

        <div>
            <label for="filter-end-date" class="block text-sm font-medium text-gray-700">End date:</label>
            <input type="date" id="filter-end-date" value="{{ $ExpensesFilter.EndDate }}"
                class="border-2 w-full border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />

        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="filter-bigger-than" class="block text-sm font-medium text-gray-700">Bigger than:</label>
            <input type="number" id="filter-bigger-than" value="{{ $ExpensesFilter.BiggerThan }}"
                class="border-2 w-full border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />

        </div>

        <div>
            <label for="filter-smaller-than" class="block text-sm font-medium text-gray-700">Smaller than:</label>
            <input type="number" id="filter-smaller-than" value="{{ $ExpensesFilter.SmallerThan }}"
                class="border-2 w-full border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />

        </div>
    </div>

    <button hx-get="/api/expenses" hx-swap="innerHTML" hx-target="body" hx-ext="json-enc" hx-vals='js:{
                "expenses-filter-expense-type-id": document.getElementById("filter-type").value,
                "expenses-filter-start-date": document.getElementById("filter-start-date").value,
                "expenses-filter-end-date": document.getElementById("filter-end-date").value,
                "expenses-filter-bigger-than": document.getElementById("filter-bigger-than").value,
                "expenses-filter-smaller-than": document.getElementById("filter-smaller-than").value
            }' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Filter
    </button>
</form>
{{end}}

{{ define "expenses-list" }}
{{ $Expenses := .Expenses}}
{{ $ExpenseTypes := .ExpenseTypes }}
{{ if $Expenses }}
<div class="flex justify-between mb-4">
    <h3 class="text-lg font-bold">Total: {{ .TotalValue }}</h3>
    <h3 class="text-lg font-bold">Average: {{ .AverageValue }}</h3>
</div>
<div class="space-y-4">
    {{ range $Expenses}}
    {{ $Expense := . }}
    <form class="flex items-center justify-between bg-gray-100 p-3 rounded-lg">
        <div id="expense-{{$Expense.ID}}" class="w-full">
            <select id="input-type-{{$Expense.ID}}"
                class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500">
                {{ range $ExpenseTypes }}
                <option value="{{ .ID }}" {{ if eq .ID $Expense.TypeID }}selected{{ end }}>{{ .Name }}</option>
                {{ end }}
            </select>
            <input id="input-value-{{$Expense.ID}}" value="{{$Expense.Value}}"
                class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />
            <input id="input-date-{{$Expense.ID}}" value="{{$Expense.Date}}" type="date"
                class="border-2 border-gray-300 p-2 rounded-md mr-2 focus:outline-none focus:border-blue-500" />
        </div>
        <div class="flex">
            <button type="button" hx-swap="innerHTML" hx-target="body" hx-delete="/api/expense?id={{$Expense.ID}}"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Delete</button>
            <button type="submit" hx-ext="json-enc" hx-swap="innerHTML" hx-target="body"
                hx-patch="/api/expense?id={{$Expense.ID}}" hx-vals='js:{
                    "TypeID": document.getElementById("input-type-{{$Expense.ID}}").value, 
                    "Value": Number(document.getElementById("input-value-{{$Expense.ID}}").value), 
                    "Date": document.getElementById("input-date-{{$Expense.ID}}").value
                }' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</button>
        </div>
    </form>
    {{end}}
</div>
{{ else }}
<p>No expenses found</p>
{{end}}
{{end}}